<div id="title">
    <div class="tarjeta">
    <h1> {{title}} </h1>
    <h2> {{subtitle}} </h2>
    <span class="email"> {{email}} </span>
</div>
</div>


<div id="aboutme">
    <article id="description">
        <h2>Sobre mi</h2>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Aliquam, aperiam voluptatibus perferendis obcaecati magni repellendus blanditiis voluptate eveniet similique iure explicabo officiis in deleniti accusantium sint, corrupti tenetur? Ullam, commodi?</p>

    </article>
    <article class="img">
        <img src="" alt="">
    </article>
</div>
