
<header>
<div class="menu">
<ul>
  <li> <a class="selec" [routerLink]="['/sobre-mi']" [routerLinkActive]="['actived']">Sobre mi</a> </li>
  <li> <a class="selec" [routerLink]="['/proyectos']" [routerLinkActive]="['actived']">Proyectos</a> </li>
  <li> <a class="logo" href="#">AM</a> </li>
  <li> <a class="selec" [routerLink]="['/crear-proyecto']" [routerLinkActive]="['actived']">Crear Proyecto</a> </li>
  <li> <a class="selec" [routerLink]="['/contacto']" [routerLinkActive]="['actived']">Contacto</a> </li>
</ul>


</div>
</header>

<section id="content">
<router-outlet></router-outlet>

</section>

<footer>
  Mi portafolio
</footer>